/*.hoverable {
  height: 100px;
  width: 100px;
}*/

.page {
  height: 100vh;
  overflow: scroll;
}

.empty {
  line-height: 5em;
  text-align: center;
  border-style: dashed;
  border-radius: .3em;
  border-color: gray;
}

.droppable {
  background-color: rgba(230,230,200,.5);
  padding: 1em;
}

.hovered {
  background-color: rgba(200,230,200,.5);
}

.page .empty {
  height: 100%;
}
