/*.hoverable {
  height: 100px;
  width: 100px;
}*/

.hovered {
  background-color: rgb(200,230,200);
}

.page {
  height: 100vh;
  overflow: scroll;
}

.empty {
  line-height: 5em;
  text-align: center;
  background-color: lightgray;
  border-style: dashed;
  border-radius: .3em;
  border-color: gray;
}

.hovered .empty {
  background-color: rgb(200,230,200);
}

.page .empty {
  height: 100%;
}
